body {
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 550px;
}

.navbar {
  width: 550px;
  height: 70px;
  background: #ffffff;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.nav-logo {
  max-width: 100px;
  padding-left: 30px;
}

.group-photo {
  padding-top: 26px;
}

h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  color: #000000;
  padding-block: 32px 16px;
}

.hero-p {
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
  color: #222222;
  width: 320px;
  padding-bottom: 49px;
}

h1,
.hero-p {
  padding-left: 36px;
  text-align: left;
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  margin: 0;
}

.card-section {
  text-align: left;
  padding-left: 37px;
}

.star1 {
  width: 14px;
  height: 14px;
}

.experience1 {
  display: flex;
  padding-top: 15px;
}

.rating-1 {
  margin: 0;
  margin-left: 2px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 110%;
  color: #222222;
}

.location1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 110%;
  color: #918e9b;
}

.card-text1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 110%;
  margin: 0;
  color: #222222;
  padding-block: 8px;
}

.price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 110%;
  margin: 0;
  color: #222222;
}
.price2 {
  font-weight: 300;
}
